{% load static %}
<ul class="nav pcoded-inner-navbar ">
  <li class="nav-item pcoded-menu-caption">
    <h4>Navigation</h4>
  </li>
  <li class="nav-item">
    <a href="{% url 'project_manager:index' %}" class="nav-link ">Home</a>
  </li>
  <li class="nav-item">
    <a href="{% url 'project_manager:worker-list' %}" class="nav-link "> Our team </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'project_manager:project-completed' %}" class="nav-link "> Completed projects </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'project_manager:worker-create' %}" class="nav-link "> Join us </a>
  </li>
</ul>
